<app-map></app-map>
<div class="grid text-center overflow-scroll grid-flow-col  border-b border-gray-200">
  <div class="relative pb-2 tab px-4">
    <button class="text-purple-500 font-medium hover:text-purple-700">Riyadh</button>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-full h-0.5 bg-purple-500 tab-underline"></div>
  </div>
  <div class="relative pb-2 tab tab px-4">
    <button class="text-gray-500 hover:text-purple-700">Jeddah</button>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-purple-500 tab-underline transition-all duration-300"></div>
  </div>
  <div class="relative pb-2 tab tab px-4">
    <button class="text-gray-500 hover:text-purple-700">Dammam</button>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-purple-500 tab-underline transition-all duration-300"></div>
  </div>
  <div class="relative pb-2 tab tab px-4">
    <button class="text-gray-500 hover:text-purple-700">Khobar</button>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-purple-500 tab-underline transition-all duration-300"></div>
  </div>
  <div class="relative pb-2 tab tab px-4">
    <button class="text-gray-500 hover:text-purple-700">Hael</button>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-purple-500 tab-underline transition-all duration-300"></div>
  </div>
  <div class="relative pb-2 tab tab px-4">
    <button class="text-gray-500 hover:text-purple-700">Kharj</button>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-purple-500 tab-underline transition-all duration-300"></div>
  </div>
</div>
