<div class="header-text m-auto my-28 text-center w-[90%] md:w-[60%]">
  <h2 class="uppercase  text-3xl my-4">treatment</h2>
  <p class="text-gray-500">
    We all deserve some time to disconnect, relax and breathe. A moment to
    remember why we often rush and rarely make time for ourselves. At Oriental
    Relax Spa we listen to your needs to make you feel refreshed and
    rejuvenated. Browse our full list of relaxing massage treatments and
    wellness treatments to see which one is right for you.
  </p>
</div>

<div class="treatment lg:block hidden">
  <div class="grid grid-cols-3 gap-2">
    <div
      class="col-span-1 seconed relative w-full h-80 bg-white border rounded-3xl overflow-hidden mb-3"
    >
      <img src="../../../assets/Treatment/one.png" alt="Massages" />
      <div class="">
        <h2 class="text-3xl my-5 mx-3">Massages</h2>
        <a href="#" class="main-text mt-2 inline-block m-3"
          >Be Relaxed &rarr;</a
        >
      </div>
    </div>
    <div
      class="col-span-2 seconed relative w-full h-80 bg-white border rounded-3xl overflow-hidden"
    >
      <img src="../../../assets/Treatment/two.png" alt="Moroccan Bath" />

      <div class="">
        <h2 class="text-3xl my-5 mx-3">Moroccan bath</h2>
        <a href="#" class="main-text mt-2 inline-block m-3"
          >Be Relaxed &rarr;</a
        >
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-2">
    <div
      class="col-span-2 seconed relative w-full h-80 bg-white border rounded-3xl overflow-hidden mb-3"
    >
      <img src="../../../assets/Treatment/three.png" alt="Massages" />
      <div class="">
        <h2 class="text-3xl my-5 mx-3">Bridal preparation & pedicure</h2>

        <a href="#" class="main-text mt-2 inline-block m-3"
          >Be Relaxed &rarr;</a
        >
      </div>
    </div>
    <div
      class="col-span-1 seconed relative w-full h-80 bg-white border rounded-3xl overflow-hidden"
    >
      <img src="../../../assets/Treatment/four.png" alt="Moroccan Bath" />
      <h2 class="text-3xl my-5 mx-3">Package</h2>
      <div class="">
        <a href="#" class="main-text mt-2 inline-block m-3"
          >Be Relaxed &rarr;</a
        >
      </div>
    </div>
  </div>
</div>
<div class="mdpx-16 lg:hidden px-2">
  <div class="space-y-4">
    <div
      class="flex md:h-40 h-28 bg-white rounded-3xl border hover:shadow-xl transition-shadow duration-300"
    >
      <img
        src="../../../assets/home/Rectangle three.png"
        alt="Massage"
        class="w-28 md:w-40 h-full rounded-3xl object-cover mr-4"
      />
      <div class="max-w-[60%]">
        <h2
          class="md:text-6xl text-2xl font-extralight my-3 truncate max-w-full"
        >
          Massages
        </h2>
        <a href="#" class="text-black text-l hover:underline md:text-3xl"
          >Be Relaxed →</a
        >
      </div>
    </div>
    <div
      class="flex h-28 md:h-40 bg-white rounded-3xl border hover:shadow-xl transition-shadow duration-300"
    >
      <img
        src="../../../assets/Treatment/two.png"
        alt="Moroccan bath"
        class="w-28 h-full md:w-40 rounded-3xl object-cover mr-4"
      />
      <div class="max-w-[60%]">
        <h2
          class="md:text-6xl text-2xl font-extralight my-3 truncate max-w-full"
        >
          Moroccan bath
        </h2>
        <a href="#" class="text-black text-l hover:underline md:text-3xl"
          >Be Refreshed →</a
        >
      </div>
    </div>
    <div
      class="flex md:h-40 h-28 bg-white rounded-3xl border hover:shadow-xl transition-shadow duration-300"
    >
      <img
        src="../../../assets/Treatment/three.png"
        alt="Massage"
        class="w-28 md:w-40 h-full rounded-3xl object-cover mr-4"
      />
      <div class="max-w-[60%]">
        <h2
          class="md:text-6xl text-xl font-extralight my-3 truncate max-w-full"
        >
          Bridal preparation & pedicure
        </h2>
        <a href="#" class="text-black text-l md:text-3xl hover:underline"
          >Be Fit →</a
        >
      </div>
    </div>
    <div
      class="flex md:h-40 h-28 bg-white rounded-3xl border hover:shadow-xl transition-shadow duration-300"
    >
      <img
        src="../../../assets/Treatment/four.png"
        alt="Massage"
        class="w-28 md:w-40 h-full rounded-3xl object-cover mr-4"
      />
      <div class="max-w-[60%]">
        <h2
          class="md:text-6xl text-xl font-extralight my-3 truncate max-w-full"
        >
          Package
        </h2>
        <a href="#" class="text-black text-l md:text-3xl hover:underline"
          >Be Fit →</a
        >
      </div>
    </div>
  </div>
</div>
