<div class="treatment-item mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- First Column -->
    <div class="text-left">
      <img
        src="../../../../assets/header/about-item/one.png"
        alt="Massage Image"
        class="w-full h-48 object-cover rounded-lg"
      />
        <div class="relative pb-1 tab inline-block mt-3    w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black  tab-underline transition-all duration-300"></div>
          Our Story
        </div>
    </div>
    <!-- Second Column -->
    <div class="text-left">
      <img
        src="../../../../assets/header/about-item/two.png"
        alt="Massage Image"
        class="w-full h-48 object-cover rounded-lg"
      />
        <div class="relative pb-1 tab inline-block mt-3    w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black  tab-underline transition-all duration-300"></div>
          FAQ
        </div>
    </div>
    <!-- Third Column -->
    <div class="text-left">
      <img
        src="../../../../assets/header/about-item/three.png"
        alt="Massage Image"
        class="w-full h-48 object-cover rounded-lg"
      />
        <div class="relative pb-1 tab inline-block mt-3    w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black  tab-underline transition-all duration-300"></div>
          Contact Us
        </div>
    </div>
  </div>
</div>
