.landing-page{
  max-height: 36rem;
  overflow: hidden;
  // .video{
  //   height: 20rem;
  // }
}

.translated{
  transform: translateX(-20%);
}
.translated-two{
  transform: translateX(20%);
}

  .clip-left {
    clip-path: inset(0 0 0 50%);
  }

  .clip-right {
    clip-path: inset(0 50% 0 0);
  }

