<div class="treatment-item mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- First Column -->
    <div class="text-left">
      <img
        src="../../../../assets/home/Rectangle three.png"
        alt="Massage Image"
        class="w-full h-48 object-cover rounded-lg"
      />
      <h2 class="text-lg font-normal mt-4 text-gray-400">Massages</h2>

      <ul class="mt-2 space-y-2 flex flex-col items-start ">
        <li class="relative pb-1 tab    w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black  tab-underline transition-all duration-300"></div>
          Absolute Massage
        </li>
        <li class="relative pb-1 tab  w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Be Uplifted
        </li>
        <li class="relative pb-1 tab  w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Be Back
        </li>
        <li class="relative pb-1 tab  w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Head Up
        </li>
        <li class="relative pb-1 tab  w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Be Relax
        </li>
        <li class="relative pb-1 tab  w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Be Feet
        </li>
        <li class="relative pb-1 tab  w-auto ">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Be Up
        </li>
      </ul>
    </div>
    <!-- Second Column -->
    <div class="text-left ">
      <img
        src="../../../../assets/home/Rectangle one.png"
        alt="Moroccan Bath Image"
        class="w-full h-48 object-cover rounded-lg"
      />
      <h2 class="text-lg font-normal mt-4 text-gray-400">Moroccan bath</h2>
      <ul class="mt-2 space-y-2 flex flex-col items-start ">
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Shower
        </li>
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Moroccan Bath
        </li>
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Dead Sea Mud Bath
        </li>
      </ul>
    </div>
    <!-- Third Column -->
    <div class="text-left">
      <img
        src="../../../../assets/home/Rectangle two.png"
        alt="Bridal Preparation Image"
        class="w-full h-48 object-cover rounded-lg"
      />
      <h2 class="text-lg font-normal mt-4 text-gray-400">Bridal preparation & pedicure</h2>
      <ul class="mt-2 space-y-2 flex flex-col items-start">
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Pedicure & Limb Care
        </li>
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Jacuzzi Service
        </li>
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Pedicure, Limb Care and Foot Massage
        </li>
        <li class="relative pb-2 tab  w-auto">
          <div class="absolute bottom-0 left-0 w-0 h-0.5 bg-black tab-underline transition-all duration-300"></div>
          Groom Processing Service
        </li>
      </ul>
      <div class="w-full mt-9 relative">
        <input
          type="text"
          placeholder="Enter your text"
          class="px-4 w-full rounded-3xl py-2 border border-gray-300 pr-10"
        />
        <i
          class="fa-solid fa-arrow-right absolute top-1/2 right-3 transform -translate-y-1/2 text-gray-500"
        ></i>
      </div>
    </div>
  </div>
</div>
