<div class="  absolute-massage flex flex-col md:flex-row container bg-white rounded-lg shadow-md p-6">
  <div class="md:w-1/2">
    <img src="../../../assets/services details/Group 321.png" alt="Massage" class="rounded-lg w-full">
  </div>
  <div class="md:w-1/2 md:pl-6 mt-6 md:mt-0">
    <h2 class=" text-2xl font-medium md:text-5xl mb-5">Absolute Massage</h2>
    <p class="text-gray-600 mt-2">Deep tissue table massage. It is ideal for those who seek the ultimate spa relaxation.</p>
    <div class="flex items-center mt-4">
      <button class="border-purple-500 border p-3 mr-2 text-white text-center rounded-full flex items-center">
        <i class="fas fa-shopping-cart text-purple-500  "></i>
      </button>
      <button class="bg-purple-500 text-white py-2 px-4 rounded-full flex items-center">
        <span>Book your visit</span>
        <i class="fa-solid fa-arrow-right mx-2"></i>
      </button>
    </div>
    <div class="mt-6">
      <div class="flex justify-between pb-4 border-b text-gray-700">
        <span>In Salon</span>
        <span>30 MINS</span>
        <span>150 SAR</span>
      </div>
      <div class="flex justify-between pb-4 border-b text-gray-700 mt-2">
        <span>In Home</span>
        <span>45 MINS</span>
        <span>2000 SAR</span>
      </div>
    </div>
    <p class="text-gray-500 text-sm mt-4">*Prices are for Oriental Relax Center - Al shafah 1 only</p>
  </div>
</div>
