<!-- <app-header></app-header>
<app-landing-page></app-landing-page>
<app-home-sections></app-home-sections>
<app-footer></app-footer> -->
<!-- <body class="bg-gray-100 p-4">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-purple-50 p-8 rounded-lg shadow-lg text-center max-w-2xl">
      <h1 class="text-3xl font-semibold text-gray-800 mb-4">Be Ready, Plan Your Relaxation In Advance</h1>
      <p class="text-gray-600 mb-6">To ensure the smoothest wellness experience, you can book your appointment in advance. Booking should be made no later than 7 days before your planned well-being moment at Orientalrelax, but walk-in guests are welcome in anytime.</p>
      <a href="#" class="inline-block px-6 py-2 bg-purple-500 text-white rounded-full hover:bg-purple-600 transition-colors duration-300">Book your visit →</a>
    </div>
  </div>
</body> -->
<!-- <app-gift-card></app-gift-card> -->
 <app-contact-us></app-contact-us>
