<app-header></app-header>
<app-landing-page></app-landing-page>
<p class="md:text-5xl text-center p-4 md:p-9 font-extralight md:my-10">
  Take some time to take care of your body and soul on your journey.
  <img src="../../../../assets/home/text/Rectangle 11.png" alt="" class="inline w-8 md:w-20" />
  Our spa treatments available across
   Saudi Arabia are designed with your
  wellness
  <img src="../../../../assets/home/text/Rectangle 12.png" alt="" class="inline w-8 md:w-20" /> in mind,
  promising you an enjoyable experience. Discover invigorating and relaxing
  <img src="../../../../assets/home/text/Rectangle 13.png" alt=""  class="inline w-8 md:w-20"/> massage
  treatments plus innovative products specially selected for their enhanced
  travel-friendly benefits!
</p>
<app-home-sections></app-home-sections>
 <!-- <app-contact-us></app-contact-us> -->
 <div class="bg-gray-100 ">
  <div class="flex items-center justify-center md:mb-32">
    <div class="bg-purple-50 p-8 rounded-lg shadow-lg text-center max-w-2xl">
      <h1 class="text-3xl font-semibold text-gray-800 mb-4">Be Ready, Plan Your Relaxation In Advance</h1>
      <p class="text-gray-600 mb-6">To ensure the smoothest wellness experience, you can book your appointment in advance. Booking should be made no later than 7 days before your planned well-being moment at Orientalrelax, but walk-in guests are welcome in anytime.</p>
      <a href="#" class="inline-block px-6 py-2 bg-purple-gradient text-white rounded-full hover:bg-purple-600 transition-colors duration-300">Book your visit <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
</div>
<app-gift-card></app-gift-card>

<app-footer></app-footer>
