<div class="container mx-auto md:w-2/3 py-10">
  <div class="text-center">
    <h2 class="text-3xl font-semibold">Find Us</h2>
    <p class="mt-4 text-lg md">
      We all need some time to reconnect with ourselves, recharge our batteries, and de-stress. Located in 6 cities, with more than 30 branches, we are the largest chain of airport spas in the Kingdom of Saudi Arabia that focuses on the well-being and relaxation of our customers. Discover your next destination at OriantelRelax spa.
    </p>
    <div class="mt-6 flex justify-center  space-x-4 ">
      <button class="btn-men flex main-btn px-5 py-2 text-white rounded-full border items-center">
        <i class="fas fa-male mr-2"></i> For Men
      </button>
      <button class="btn-men flex px-5 py-2 text-black rounded-full border items-center">
        <i class="fas fa-female mr-2 "></i> For Women
      </button>
    </div>
  </div>
</div>
