button {
  background: radial-gradient(#ae5eaf, #d69ad8);
}

.phone {
  right: -15%;
  top: -20%;
}

@media only screen and (max-width: 769px) {
  .phone {
    right: 50%;
    top: -4rem;
    transform: translateX(50%);
    img {
      width: 21rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .phone {
    right: 41%;
    top: -4rem;
    transform: translateX(50%);
    img {
      width: 19rem;
    }
  }
}
