<div class="grid items-center min-h-screen">
  <div class="bg-purple-50 p-8  lg:pl-32 relative  h-[42rem] md:h-[24rem] rounded-lg shadow-lg grid grid-cols-1 md:grid-cols-2 md:max-w-5xl">
    <div class="col-span-1 self-end ">
      <h1 class="text-4xl font-semibold text-gray-800 mb-4">Hey, We exist as an application</h1>
      <p class="text-gray-600 mb-6">Book Salons, Nearby. Get real-time offers, exclusive deals. Connect with beauty experts and shop from best care products.</p>
      <p class="text-gray-600 mb-4">To receive a SMS with a link to download Oriental Relax app, Enter your Phone Number</p>
      <form>
        <div class="my-8 grid grid-flow-col">
          <div class="grid grid-cols-[auto_1fr] md:w-[25rem] se">
            <select
              class="mt-1 block p-2 border border-r-0 h-12 border-gray-300 rounded-l-3xl focus:outline-none"
            >
              <option>+966</option>
            </select>
            <input
              type="text"
              placeholder="Enter your number"
              class="mt-1 block w-full p-2 h-12 border border-l-0 border-gray-300 rounded-r-3xl focus:outline-none"
            />
          </div>
          <div class="text-end w-5 ed-ptn">
            <button
              type="submit"
              class="text-white p-3 px-4 rounded-full hover:shadow-lg focus:outline-none focus:ring focus:ring-purple-200"
            >
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-span-1 md:flex  absolute phone justify-center items-center ">
      <img src="../../../../assets/main.png" alt="App Screenshot" class="">
    </div>
  </div>
</div>
