<div
  class="booking-stap-one grid grid-cols-1 md:grid-cols-3 md:w-[90%] w-[95%] m-auto"
>
  <div class="col-span-2">
    <div class="flex mb-8">
      <div class="flex">
        <div class="main-btn h-full text-white py-2 px-4 rounded-lg">
          Gender & Branch
        </div>
      </div>
      <div class="flex">
        <div class="border h-full text-black py-2 px-4">Gender & Branch</div>
      </div>
      <div class="flex">
        <div class="border h-full text-black py-2 px-4">Gender & Branch</div>
      </div>
    </div>

    <div class="mb-8 md:grid-cols-2 grid-cols-1">
      <h2 class="text-2xl font-semibold text-gray-800 mb-2">
        1. Select Your Gender
      </h2>
      <p class="text-gray-600 mb-4">
        Branches and services vary according to nationality
      </p>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <input type="radio" name="type" id="man" class="hidden" />
          <label
            for="man"
            class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
          >
            <div class="flex flex-col">
              <div>
                <i class="fas fa-male text-xl border rounded-full p-1 px-3"></i>
              </div>
              <span class="capitalize my-1">For Men</span>
              <small class="text-gray-400">48 Branches</small>
            </div>
            <span class="custom-radio"></span>
          </label>
        </div>
        <div>
          <input type="radio" name="type" id="woman" class="hidden" />
          <label
            for="woman"
            class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
          >
            <div class="flex flex-col">
              <div>
                <i
                  class="fas fa-female text-xl border rounded-full p-1 px-3"
                ></i>
              </div>
              <span class="capitalize my-1">For Woman</span>
              <small class="text-gray-400">12 Branches</small>
            </div>
            <span class="custom-radio"></span>
          </label>
        </div>
      </div>
    </div>
    <h2 class="text-2xl font-semibold text-gray-800 mb-2">
      2. Select Your Gender
    </h2>
    <p class="text-gray-600 mb-4">
      Branches and services vary according to nationality
    </p>
    <div
      class="grid text-center overflow-x-auto grid-flow-col border-b border-gray-200 line-item"
    >
      <div class="relative pb-2 tab px-4">
        <button class="main-text font-medium">Riyadh</button>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-full h-0.5 main-btn tab-underline"
        ></div>
      </div>
      <div class="relative pb-2 tab px-4">
        <button class="text-gray-500">Jeddah</button>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 main-btn tab-underline transition-all duration-300"
        ></div>
      </div>
      <div class="relative pb-2 tab px-4">
        <button class="text-gray-500">Dammam</button>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 main-btn tab-underline transition-all duration-300"
        ></div>
      </div>
      <div class="relative pb-2 tab px-4">
        <button class="text-gray-500">Khobar</button>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 main-btn tab-underline transition-all duration-300"
        ></div>
      </div>
      <div class="relative pb-2 tab px-4">
        <button class="text-gray-500">Hael</button>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 main-btn tab-underline transition-all duration-300"
        ></div>
      </div>
      <div class="relative pb-2 tab px-4">
        <button class="text-gray-500">Kharj</button>
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 main-btn tab-underline transition-all duration-300"
        ></div>
      </div>
    </div>
    <div class="grid justify-center justify-items-center md:grid-cols-2 grid-cols pt-5 gap-4">
      <div class="">
        <input type="radio" name="type" id="one" class="hidden" />
        <label
          for="one"
          class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
        >
          <div class="flex flex-col">
            <div>
              <img
                src="../../../../assets/step.png"
                alt="For one"
                class="w-12 h-12 rounded-full object-cover"
              />
            </div>
            <span class="capitalize my-1"
              >Oriental Relax Center - Solymania District</span
            >
            <small class="text-gray-400"
              >Al-Sahaba Road, Al-Yarmouk, Riyadh 13...</small
            >
          </div>
          <span class="custom-radio"></span>
        </label>
      </div>

      <div class="">
        <input type="radio" name="type" id="two" class="hidden" />
        <label
          for="two"
          class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
        >
          <div class="flex flex-col">
            <div>
              <img
                src="../../../../assets/step.png"
                alt="For two"
                class="w-12 h-12 rounded-full object-cover"
              />
            </div>
            <span class="capitalize my-1"
              >Oriental Relax Center - Solymania District</span
            >
            <small class="text-gray-400"
              >Al-Sahaba Road, Al-Yarmouk, Riyadh 13...</small
            >
          </div>
          <span class="custom-radio"></span>
        </label>
      </div>
      <div class="">
        <input type="radio" name="type" id="three" class="hidden" />
        <label
          for="three"
          class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
        >
          <div class="flex flex-col">
            <div>
              <img
                src="../../../../assets/step.png"
                alt="For three"
                class="w-12 h-12 rounded-full object-cover"
              />
            </div>
            <span class="capitalize my-1"
              >Oriental Relax Center - Solymania District</span
            >
            <small class="text-gray-400"
              >Al-Sahaba Road, Al-Yarmouk, Riyadh 13...</small
            >
          </div>
          <span class="custom-radio"></span>
        </label>
      </div>
      <div class="">
        <input type="radio" name="type" id="four" class="hidden" />
        <label
          for="four"
          class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
        >
          <div class="flex flex-col">
            <div>
              <img
                src="../../../../assets/step.png"
                alt="For four"
                class="w-12 h-12 rounded-full object-cover"
              />
            </div>
            <span class="capitalize my-1"
              >Oriental Relax Center - Solymania District</span
            >
            <small class="text-gray-400"
              >Al-Sahaba Road, Al-Yarmouk, Riyadh 13...</small
            >
          </div>
          <span class="custom-radio"></span>
        </label>
      </div>
      <div class="">
        <input type="radio" name="type" id="five" class="hidden" />
        <label
          for="five"
          class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
        >
          <div class="flex flex-col">
            <div>
              <img
                src="../../../../assets/step.png"
                alt="For five"
                class="w-12 h-12 rounded-full object-cover"
              />
            </div>
            <span class="capitalize my-1"
              >Oriental Relax Center - Solymania District</span
            >
            <small class="text-gray-400"
              >Al-Sahaba Road, Al-Yarmouk, Riyadh 13...</small
            >
          </div>
          <span class="custom-radio"></span>
        </label>
      </div>
      <div class="">
        <input type="radio" name="type" id="six" class="hidden" />
        <label
          for="six"
          class="border rounded-2xl flex max-w-xs justify-between p-5 align-strt items-start cursor-pointer relative"
        >
          <div class="flex flex-col">
            <div>
              <img
                src="../../../../assets/step.png"
                alt="For six"
                class="w-12 h-12 rounded-full object-cover"
              />
            </div>
            <span class="capitalize my-1"
              >Oriental Relax Center - Solymania District</span
            >
            <small class="text-gray-400"
              >Al-Sahaba Road, Al-Yarmouk, Riyadh 13...</small
            >
          </div>
          <span class="custom-radio"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="md:bg-gray-50 w-full  md:fixed right-10 top-32 rounded-lg md:shadow-md p-4 max-w-sm mx-auto">
    <div class="md:inline-block hidden">
      <h2 class="mb-5">Booking Details</h2>
      <div class="flex items-center mb-4">
        <img
          src="../../../../assets/booking-image/Rectangle 1889 (1).png"
          alt="Center Image"
          class="w-16 h-16 rounded-full mr-4"
        />
        <div>
          <h5 class=" font-semibold">
            Oriental Relax Center - Al sahafa1
          </h5>
          <p class="text-sm  text-gray-600">
            Al-Sahaba Road, Al-Yarmouk, Riyadh 13251
          </p>
        </div>
      </div>
      <div class="text-left text-gray-500 mb-4">No services selected</div>
      <div class="border-t border-gray-300 py-4">
        <div class="flex justify-between items-center">
          <span class="text-gray-700 font-medium">Total</span>
          <span class="text-gray-700 font-medium">---</span>
        </div>
      </div>
    </div>

    <div class="text-center w-[100%]">
      <button
        class=" bg-purple-gradient  w-full text-white rounded-full py-2 px-4 mt-4 hover:bg-purple-gradient transition duration-200"
      >
        Select services <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>

